

/* css para header */
header img{
    width: 150px;
    margin-top: 20px;
}

header form{
    text-shadow: #bbb6b6 2px 2px 2px;
}
#headerNavbar{
    text-decoration: none;
    text-shadow: #bbb6b6 2px 2px 2px; 
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
}


/* css para footer */
footer{
    margin-top: 200px;
    background-color: #dceaec;
    margin-top: 0%; 
    height: 400px;
}
footer p{
    color: #140b63;
}
#footerlogo{
    display: flex;
    justify-content: center;
}
footer img{
    height: 150px;
    margin-top:100px;
    margin-bottom: 40px;
}


/* css para home - index */
.homeBanner{
    height: 550px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}

p{
 font-size: 1.5rem;
}

#carousel_1{
    background-image: url('../imagens/img-home/carousel_1.png');
    height: 500px;
}

#carousel_2{
    background-image: url('../imagens/img-home/carousel_2.png');
    height: 500px;
}

#carousel_3{
    background-image: url('../imagens/img-home/carousel_3.png');
    height: 500px;
}

/* css cadastro usuario */
/* .form-group{
    display: flex;
 }
 
 .form-row{
    display: flex;
     flex-wrap: wrap;
     margin-right: 200px;
     margin-left: 200px;
 } */
 


/* css para section desapego */
.banner-desap{
 height: 25vh;
}

.banner{
    width: 100vw;
    height: 17vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -175px;
    filter: contrast(23%);
}


#desapego{
   /* padding-right: 80px;
   padding-left: 80px; */
   height: 1073px;
}


/* 
.textBanner{
    color: #6b6e77e8;
    font-size: 59px;
    text-align: center;
    filter: drop-shadow(14px 16px 10px black);
    position: absolute;
    top: 196px;
    rigth: 106px;
    right: 589px;
    font-family: monospace;
} */

/* #imagens-desapego{
    height: 1005px;
    width: 100%;
    margin-top: 37px;
} */




.texto-pranchas{

color: #ffffffe1;

font-family: Stencil Std, fantasy;

font-size: 181px;

filter: drop-shadow(31px 22px 12px black);

position: absolute;

z-index: 99;

top: 270px;

width: 1400px;

left: 442px;
}

.texto-pranchas:hover{
    color: #ffffffaf;
}



.texto-vestuarios{

color: #ffffffe1;

font-family: Stencil Std, fantasy;

font-size: 101px;

filter: drop-shadow(31px 22px 12px black);

z-index: 99;

top: 860px;

right: 1345px;

width: 0;

position: absolute;
}

.texto-vestuarios:hover{
    color: #ffffffaf;
}


.texto-acessorios{

font-family: Stencil Std, fantasy;

color: #ffffffe1;

font-size: 91px;

filter: drop-shadow(31px 22px 12px black);

position: absolute;

z-index: 99;

top: 862px;

left: 889px;

}

.texto-acessorios:hover{
    color: #ffffffaf;
  }

#dropnow-um{
    position: absolute;
    color: #ffffffaf;
    filter: drop-shadow(2px 11px 8px black);
    z-index: 9;
    top: 472px;
    left: 690px;
}



#dropnow-dois{
    position: absolute;
    color: #ffffffaf;
    filter: drop-shadow(2px 11px 8px black);
    z-index: 9;
    top: 960px;
    left: 419px;
}

#dropnow-tres{
    position: absolute;
    color: #ffffffaf;
    filter: drop-shadow(2px 11px 8px black);
    z-index: 9;
    top: 962px;
    right: 420px;
}



#img-um{
    width: 100%;
    height: 600px;
    margin-bottom: 6px;
    display: flex;
    
}

#img-dois{

width: 553px;

height: 440px;

margin-right: 5px;

display: flex;
}

#img-tres{
    
width: 552px;
    
height: 400px;
    
display: flex;
}


.imagem-um{
    cursor: pointer;
    width: 100%;
    height: 600px;
}

.imagem-dois{
 
    width: 100%;
    height: 400px;
}

.imagem-tres{
    
    width: 100%;
    height: 400px;
}



/* css para pagina encontre */
#encontreBanner{
    background-image: url("../imagens/img-encontre/standuppaddle.jpg");
    background-size: cover;
    height: 400px;
}

.encontredesapego{
    /* height: 50px; */
}


/* css oferta desapego */

.img-oferta{
    width: 300px;
    height: 300px;
}

#img-prancha-um{
    width: 300px;
    height: 300px;
}