

/* css para header */
header img{
    width: 150px;
    margin-top: 20px;
}

/* Por que a class container do bootstrap está no CSS?? 
.container{
    /*width: 100px;
    padding-right: 15px;
    padding-left: 15px; 
    -webkit-margin-collapse: discard;   ----> para que serve?
} */

/* não alterou o estilo das fontes
.h2-carousel{
    margin-bottom: 328px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 3.2;
}

* não alterou o estilo das fontes
.p-carousel{
    font-size: 1rem;
    font-weight: 7.5;
    line-height: 7.5;
} */

/* class do bootstrap, com as mesmas especificações
.img-fluid{
    max-width: 100%;
    height: auto;
} */

/*  essa  class pertennce ao bootstrap, ao ser colocada aqui, fez com que os indicadores ficassem embaixo do  texto do carousel.
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 42px;
    left: 0;
    z-index: 15;
    justify-content: center;
} */

header form{
    text-shadow: #bbb6b6 2px 2px 2px;
}
#headerNavbar{
    text-decoration: none;
    text-shadow: #bbb6b6 2px 2px 2px; 
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
}


/* css para footer */
footer{
    margin-top: 200px;
    background-color: #dceaec;
    margin-top: 0%; 
    height: 400px;
}
footer p{
    color: #140b63;
}
#footerlogo{
    display: flex;
    justify-content: center;
}
footer img{
    height: 150px;
    margin-top:100px;
    margin-bottom: 40px;
}


/* css para home - index */
.homeBanner{
    height: 550px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}

p{
 font-size: 1.5rem;
}



/* css cadastro usuario */
/* .form-group{
    display: flex;
 }
 
 .form-row{
    display: flex;
     flex-wrap: wrap;
     margin-right: 200px;
     margin-left: 200px;
 } */
 


/* css para section desapego */
.banner-desap{
   
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    background-position-y: -151px;
    filter:contrast(50%);
   
     
}
#desapego{
   padding-right: 80px;
   padding-left: 80px;
}



.textBanner{
    color: #ffffff;
    font-size: 85px;
    text-align: center;
    filter: drop-shadow(2px 11px 8px black);
    position: relative;
    top: -245px;
        
}

.texto-pranchas{

color: #ffffffd1;

font-family: Stencil Std, fantasy;

font-size: 153px;

filter: drop-shadow(2px 11px 8px black);

position: relative;

z-index: 99;

top: 303px;

width: 1400px;
}


.texto-vestuarios{

color: #ffffffd1;

font-family: monospace;

font-size: 94px;

filter: drop-shadow(2px 11px 8px black);

position: relative;

z-index: 99;

top: 676px;

right: 1363px;

width: 0;
}

.texto-acessorios{

position: absolute;

font-family: Bradley Hand, cursive;

color: #ffffffd1;

font-size: 84px;

filter: drop-shadow(2px 11px 8px black);

position: absolute;

z-index: 99;

top: 1831px;

left: 923px;

widh: 0px;
}


#img-um{
    width: 100%;
    height: 600px;
    margin-bottom: 12px;
     
}

#img-dois{

width: 737px;

height: 400px;

margin-right: 12px;
}

#img-tres{
    justify-content: end;
    width: 738px;
    height: 400px;
}


.imagem-um{
    filter: brightness(90%);
    width: 100%;
    height: 600px;
}

.imagem-dois{
    filter: brightness(90%);
    width: 100%;
    height: 400px;
}

.imagem-tres{
    filter: brightness(90%);
    width: 100%;
    height: 400px;
}