/* css para header */

header img{
    width: 100px;
    position: fixed;
    z-index: 100;
    margin-top: 20px;
}




/* css para section desapego */

.cardsDesap{
    height: 550px;
    align-content: center;
    
}

#bannerDesap{
    background-image: url(img-desapego/prancha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    background-position-y: -151px;
    filter:contrast(50%);
    
     
}

.textBanner{
    color: #ffffff;
    font-size: 85px;
    text-align: center;
    filter: drop-shadow(2px 11px 8px black);
    position: relative;
    top: -245px;
    
    
}
