* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.menuHeader a:hover{
    color: #b8f500;
    text-decoration: none;
}


/* css para header */
body{
    font-family: cocogoose;
}

@font-face{
    font-family: "roboto-light";
    src: url('/font/Roboto-light.ttf');
}

@font-face{
    font-family: "manrope";
    src: url('/font/medium.woff');
}

@font-face{
    font-family: "aloha";
    src: url('/font/surf-style-regular.ttf');
}

@font-face{
    font-family: "mohave";
    src: url('/font/Mohave-Bold.otf');
}

@font-face{
    font-family: "kinley";
    src: url('/font/Kinley\ Free\ Version.ttf');
}

@font-face{
    font-family: "givena";
    src: url('/font/Giveny.otf');
}

@font-face{
    font-family: "quincy";
    src: url('/font/FontsFree-Net-quincy-cf-bold.ttf');
}

@font-face{
    font-family: "proudly";
    src: url('/font/FontsFree-Net-Proudly.ttf');
}

@font-face{
    font-family: "frintake";
    src: url('/font/FontsFree-Net-Frintake.ttf');
}

@font-face{
    font-family: "evolve";
    src: url('/font/MADE\ Evolve\ Sans\ Light\ \(PERSONAL\ USE\).otf');
}

@font-face{
    font-family: "evolve-bold";
    src: url('font/MADE\ Evolve\ Sans\ Bold\ \(PERSONAL\ USE\.otf');
}

@font-face{
    font-family: "teacher";
    src: url('/font/KGWhattheTeacherWants.ttf');
}


@font-face{
    font-family: "cocogoose";
    src: url('/font/Cocogoose Pro UltraLight Italic-trial.ttf')
}

.contato{
    height: 7vh;
    background-color: #cecece;
    align-items: center;
}

.divNav{
    border-bottom: 2px solid #245371;
    /* box-shadow: 0px 1px 2px black; */
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 14vh;
}

.cabecario{
    width: 0vw;
    display: flex;
    align-items: center;
    height: 12vh;
    /* z-index: 99; */
    /* position:fixed; */
    margin-top: 0px;
    justify-content: space-between;
    padding: 10px;
}

.cabecario ul{
    display: flex;
    justify-content: space-between;
    width: 73vw;
    height: 6vh;
    align-items: center;
}



nav ul li a{
    color: #245b7e;
    font-size: 0.85rem;
    font-weight: bold;
    /* font-family: "roboto-light"; */
    /* text-transform: uppercase; */
    /* text-shadow: #000 1px 0px 3px; */
}

li a{
    color: lawngreen;
}


#logo{
    height: 12vh;
    width: 13vw;
    /* margin-left: 61px; */
    /* margin-bottom: 10px; */
    margin-right: 23px;
    margin-left: 41px;
    /* margin-top: 10px; */
}

.menuLogin{
    
background-color: #ebf4f1;
    
width: auto;
    
border-radius: 6px;
}

.headerNavbar{
    display: flex;
    /* background-color: #000fc7; */
    width: 100%;
    /* border-radius-top: 10px; */
    box-shadow: black;
    -webkit-box-shadow: 20px 3px 17px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: -19px 35px -2px rgba(32, 53, -17, 0.77);
    height: 33px;
    background-image: linear-gradient(to left, #3e7bd9 , #011a77 );
 }

 #upHeader{
    width: 100%;
    /* background-image: linear-gradient(to left, #f0f0f37a , #ffffff); */
    height: 102px;
    align-items: center;
    display: flex;
    background-image: url("../imagens/img-home/banner17.jpg");
    background-position-y: -126px;
    background-position-x: -505px;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
 }

 .logado{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 56px;
    align-items: center;
 }

 .logado a{
     color: #245676;
     font-size: .90rem;
     font-weight: 700;
     /* text-shadow: 3px 4px 8px; */
     /* text-shadow: 2px 3px 4px; */
     /* border: 1px solid #245676; */
 }

 .gaveta-icones{
    display: flex;
    width: 145px;
    height: 29px;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
    justify-content: flex-end;
    margin-left: 23px;
    margin-bottom: -2px;
}

.icone{
    width: 2vw;
    height: 3vh;
}



.redes-sociais{
    width: 20px;
    height: 20px;
}

#botaoHeader1{
   background-color: #ff8f04;
   border: #ff8f04;
}

#botaoHeader2{

    background-color: #376fcd;
    border: #376fcd;
}

/* css para home - index */


#carousel-1{
    background-image: url("../imagens/img-home/banner28.jpg");
    background-position-y: -247px;
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    margin-left: 0px;
    /* box-shadow: 2px 6px 12px black; */
    width: 99.8vw;
    /* border-radius: 7px; */
}


#carousel-2{
    background-image: url("../imagens/img-home/banner21.jpg");
    background-position-y: -135px;
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    margin-left: -14px;
    /* box-shadow: 2px 6px 12px black; */
    width: 99.8vw;
}

    #carousel-3{
    background-image: url("../imagens/img-home/banner23.jpg");
    background-position-y: -21px;
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    margin-left: -15px;
    /* box-shadow: 2px 6px 12px black; */
    width: 99.8vw;
}





.cards-home{
    display: flex;
    height: auto;
}

#texto-index{

color: rgb(31, 29, 29);

height: 177px;

/* width: 100%; */

/* margin-left: 257px; */

/* text-align: center; */

/* text-shadow: 0 0 0.2em; */

display: flex;

flex-direction: column;

justify-content: center;

/* font-size: 31px; */

padding: 50px;

margin-top: 58px;

/* margin-bottom: 8px; */

margin-left: -196px;

/* align-items: flex-start; */

/* margin-right: 201px; */

text-shadow: #000000 -2px 0px 20px;

/* text-align: center; */

align-items: center;

/* border-radius: 60px; */
}

.texto-index-2{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #333333ed;
    justify-content: baseline;
    justify-content: center;
    background-color: azure;
}



.botao-tres{
    background-color: #376fcd;
    border: #376fcd;
    /* width: 20vw; */
    font-size: 1.1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    /* font-weight: bold; */
}


#texto-index h2{
    font-weight: bold;
    font-size: 3.8rem;
    color: #ffffff;
}
#texto-index p{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
    /* width: 680px; */
    margin-left: 41px;
    text-align: center;
    /* text-shadow: #000000 -2px 0px 20px; */
}


/* #efeito-img #logo{
    opacity: none;

} */

/* #efeito-img{
    background: transparent linear-gradient(180deg, #6C648B 0%, #B6A19E 100%) 0% 0% no-repeat padding-box;
    opacity: 0.7;

} */


/* .indexH2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    /* position: absolute; */
/* } */

/* .indexP {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
} */

.desapegoHome1{
    width: 100%;
    height: 249px;
    background-image: url(../imagens/img-home/desapego5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -37px;
}

.caronasHome1{
    width: 100%;
    height: 249px;
    /* background-color: #ce9c00; */
    background-image: url(../imagens/img-home/card-caronas.jpg);
    /* text-shadow: 0 0 0.2em; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -109px;
}

.previsaoHome1{
    width: 100%;
    height: 41vh;
    /* background-color: #ce9c00; */
    background-image: url(../imagens/img-home/previsao3.jfif);
    /* text-shadow: 0 0 0.2em; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -132px;
    background-position-x: -1px;
}

/* fim css home */


#encontreTopo{
    margin-top: 100px;
}


/* css para pagina previsao */
.previsaoBanner {
    background-image: url("../imagens/img-home/carousel_1.png");
    background-size: cover;
    background-position: bottom;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}



/* css para pagina carona */
.caronaBanner {
    background-image: url("../imagens/img-home/carousel_2.png");
    background-size: cover;
    background-position: bottom;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caronaTextoBanner {
    color: #ffffffe1;
    font-size: 4.6rem;
    filter: drop-shadow(31px 22px 12px black);
    width: 899px;
    height: 100px;
    text-align: center;
}



/* css para desapego */
.despegoBanner {
    background-image: url("../imagens/img-desapego/banner4.png");
    background-position-y: 1px;
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.frontBanner{
    background: rgba(0, 33, 94, 0.4) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(112, 112, 112, 1);
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textoBanner {
    color: #ffffffe1;
    font-family: Stencil Std, fantasy;
    font-size: 79px;
    filter: drop-shadow(31px 22px 12px black);
    width: 566px;
    height: 94px;
    text-align: center;
    justify-content: center;
}

.imagemcards-desapego {
    height: 50vh;
    background-image: cover;
}

#desapego {
    height: auto;
    display: flex;
    flex-direction:column;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .cards-desapego{
    
} */

.cardOfertaDesapego{
    height: 83vh;
    max-width: 25vw;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px grey;
    color: #0c0c0c;
}



.img-oferta-individual {
    width: 50vw;
    height: 80vh;
    box-shadow: 1 px;
    box-shadow: 1px 1px 5px grey;
}

#desapegar{

/* align-items: flex-end; */

color: #e5e7e7;

font-weight: bold;

display: flex;

/* background-position-y: -29px; */

height: 25vh;

justify-content: center;

align-items: center;

flex-wrap: nowrap;

margin-top: -17px;
}

/* #desapegar a{
    text-decoration: none;
} */

/* #desapegar a:hover */
#desapegar a:hover{
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: 2rem;


}



#desapegar2{

/* background-image: url('/imagens/img-desapego/desapegar.jfif'); */

background-repeat: no-repeat;

width: 3vw;

height: 33vh;

display: flex;

justify-content: flex-end;
}

#desapegar2 img{
    height: 40vh;

}

#desapegar3{
    color: #131415;
    width: 77%;
    text-align: center;
    margin-top: 94px;
}

#desapegar4{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

#desapegar4 h3{
    font-family: gravity;
    font-size: 4.2rem;
    margin-right: 10px;
    align-items: center;
    color: #101010;
}

#desapegar3 h4{
    
    font-size: 2.5rem;
}



.link-desapego {
    text-decoration: none;
}


.cardHomeDesapego{
    /* width: 81vw; */
    height: 100%;
    justify-content: center;
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: #c4c6c6; */
    border: none;
}

.titulodeSecaoDesapego{
    /* font-family: aloha; */
    color: #ff8f04;
    /* border-bottom: #ff8f04 1px solid; */
    height: 39px;
    margin-bottom: 18px;
    margin-top: 102px;
    /* font-size: 74px; */
    /* font-weight: bold; */
    text-align-last: center;
}

.titulodeSecaoDesapego h3{
    font-size: 2.3rem;
    font-weight: 600;
    /* font-family: Stencil Std, fantasy; */
}

/* css desapego oferta individual */

.despegoBannerIndividual{

background-image: url("../imagens/img-desapego/agua-do-mar.jpg");

background-position-y: -190px;

width: 100%;

height: 210px;

background-size: cover;

background-repeat: no-repeat;

display: flex;

justify-content: center;

align-items: center;

margin-top: 81px;
}



/* css cadastro desapego */

.desapegoCadastro{
    height: 100%;
    display: flex;
    justify-content: center;
}

.formDesapego{
    margin-top: 128px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    width: 76%;
    height: 100%;
}

.labelFormDesapego{
    width: 50%;
}




/* css cadastro usuario */

.formCadastro{
    margin-top: 144px;
    /* margin-left: 100px; */
    border: 1px solid #ced4da;
    border-radius: 20px;
    height: 1051px;
    width: 100%;
    background-color: white;
}

#dadosPessoais{
    margin-top: 50px;
}


/* css oferta desapego */

.img-ofertaDesapego {
    width: 537px;
    height: 181px;
    margin-top: 34px;
    justify-content: center;
    border-top-color: none;
}

.img-ofertaDesapego:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-top-color: black;
}

.img-ofertaDesapegoHistorico {
    
width: 98vw;
    
height: auto;
    
margin-top: 165px;
    
justify-content: center;
    
/* justify-content: space-between; */
    
display: flex;
    
flex-wrap: wrap;
}


/* css para pagina encontre */
.frontBanner-azul {
    background: transparent linear-gradient(180deg, #1E4256D4 0%, #032C808C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encontreBanner {
    background-image: url("../imagens/img-encontre/surfboard.jpg");
    background-position-y: -297px;
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.encontreBotao {
    background-color: #214dab;
    color: #FFF;
}

.encontreSelecao {
    display: flex;
    font-family: gravity;
    font-size: 45px;
    box-sizing: border-box;
    color: black;
}

.encontreMapa{
    background-image: url('../imagens/img-encontre/pranchaPaisagem.jpg');
    background-size: 500px, 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.encontreIcones{
    width: 40px;
}

#map {
    height: 500px;
    width: 100%;
}

.encontreMapa{
    display: flex;
    justify-content: flex-end;
    height: 300px;
    width: 100%;
}

/* css para pagina blog */
.blogBanner {
    background-image: url("../imagens/img-blog/surfers.jpg");
    /* background-image: url("../imagens/img-encontre/surfboard.jpg"); */
    background-position-y: -297px;
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.cardBlogGeral {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;

    background-color: #fff;
}

.cardBlog {
    border: 1px solid #ced4da;
    border-radius: 20px;
    height: 226px;
    width: 572px;
    background-color: white;
}

.formRegister{
    border: 1px solid #ced4da;
    border-radius: 20px;
    height: 183vh;
    width: 150vw;
    background-color: white;
    margin-top: 118px;
}

.textoCardBlog {
    text-decoration-style: none;
    color: #1f4ea5;
}

.imgCardBlog {
    max-width: 350px;
    max-height: 190px;
    width: auto;
    height: auto;
}

.imgCardBlog2 {
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
}

/* css para pagina noticias */
.noticiasBanner {
    background-image: url("../imagens/img-noticias/pranchaPaisagem.jpg");
    background-position-y: -297px;
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
}


/* css para pagina previsao */
#previsaoBanner {
    background-image: url("../imagens/img-previsao/previgraca.jpeg");
    background-position-y: -257px;
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.botaoAzul {
    background: rgba(7, 237, 243, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(195, 221, 255, 1);
    opacity: 1;
    font-weight: bold;
    color: #FFF;
    font-style: italic;
}

/* css login */

.textoLogin{
    margin-top: 171px;
}

/* css footer */

.footer{
    width: 100%;
    height: 68px;
    /* background-color: #d1a015; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 1rem;
    background-image: linear-gradient(to left, #3c78d6 , #011b78);
}

.footer p{
    color: #f3eeee;
    margin-top: 14px;
    /* font-weight: bold; */

}

/* fim css footer */

/* @media (max-width: 1023px){
    .gaveta-icones{
        margin-left: 80px;


    }
} */


@media (max-width: 1200px) {
    #encontreBanner {
        background-image: url("../imagens/img-encontre/surfboard.jpg") center center;
        height: 20%;
        /* justify-content: center;
        align-items: center;
        display: flex; */
    }
    .encontreTextoBanner {
        color: #ffffffe1;
        font-family: Stencil Std, fantasy;
        font-size: 5rem;
        filter: drop-shadow(31px 22px 12px black);
        width: 321px;
        height: 298px;
        text-align: center;
        display: flex;
    }
    .encontreTitulo {
        width: 90%;
        font-size: 2rem;
    }
    .encontreMobile {
        display: none;
    }

    .cards-desapego {
        flex-wrap: wrap;
        display: flex;
    }
    #desapego {
        height: 257vh;
    }
    .imagem-desapego {
        height: 25vh;
        width: 100%;
    }

    .cardBlog{
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* margin-left: -17vw; */
    }

    .desapego-oferta {
        height: 91vh;
    }

    .ofertaIndivid {
        flex-direction: wrap;
    }

    .gaveta-icones{
        margin-left: 107px;
    }

    #logo{
        /* margin-bottom: 44px; */
        height: 10vh;
        width: 37vw;
        margin-left: 0px;
    }

    #botaoHeader{
        margin-left: 156px;
    }

    .cards-home{
        height: auto;
        display: flex;
    }

    .texto-index-2{
        height: 39vh;
    }

    .desapegoHome1{
        height: 47.5vh;
    }

    .caronasHome1{
        height: 60.5vh;
    }

    .home{
        height: 164vh;
    }

    @media (max-width: 768px) {
        #btnHamburguer{
            height: 5vh;
            width: 8vw;
    /* padding-right: 24px; */
            margin-right: 10px;
        }


        #headerBuscaMobile{
            display: none;
        }
        /* .headerLogoMobile{
            display: flex;
            justify-items: center;
        } */
        .headerLoginMobile{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }



        .encontreBanner {
            display: none;
            /* background-image: none;
            background-color: #1E4256;
            height: 2%; */
        }
        /* .encontreTextoBanner {
            color: #1E4256;
            font-size: 0%;
            filter: none;
            width: 0%;
            height: 0%;
        } */
        .encontreTitulo {
            width: 65%;
            font-size: 1.5rem;
        }
        .encontreMobile {
            display: none;
        }

        .caronaBanner{
            display: none;
        }


        .blogMobile {
            display: none;
        }
        .blogBanner{
            display: none;
        }


        .noticiasBanner{
            display: none;
        }


        .despegoBanner {
            display: none;
        }
        .cards-desapego {
            flex-direction: column;
            display: flex;
        }
        #desapego {
            height: 120vh;
        }
        #desapegar {
            height: 47vh;
        }
        .imagem-desapego {
            width: 100%;
        }
        .texto-card-desapego h2 {
            font-size: 2em;
        }
        .texto-card-desapego h3 {
            font-size: 1.8em;
        }

        .desapego-oferta {
            height: 110vh;
        }
          .historico-caronas{
            display: none;
        }

        #botaoHeader{
            margin-left: 0px;
    /* padding: 28px; */
         width: 100%;

        }

        #botaoHeader1{
            background-color: #ff8f04;
            border: #ff8f04;
            width: 31vw;
            height: 8vh;
            margin-bottom: 18px;
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #botaoHeader2{
            background-color: #376fcd;
            border: #376fcd;
            width: 31vw;
            height: 8vh;
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .divNav{
            border-bottom: 4px solid #245371;
            /* box-shadow: 0px 1px 2px black; */
            /* position: fixed; */
            /* z-index: 99; */
            width: 100vw;
            height: auto;
        }

        .cabecario ul{
            display: flex;
            justify-content: space-between;
            width: 71vw;
            height: 73vh;
            align-items: baseline;
            /* font-size: 1rem; */
        }

    .cabecario{
        width: 0vw;
        display: flex;
        height: 74vh;
        /* z-index: 99; */
        /* position: fixed; */
        justify-content: space-between;
        padding: 10px;
        margin-top: 26px;
    }

    nav ul li a{
        color: #245b7e;
        font-size: 2.0rem;
    }

    #logo{
    height: 13vh;
    width: 45vw;
    padding: 10px;
    }



    }


    @media (max-width: 480px) {


        .texto-index-2{
            font-size: small;
            
        }

        .h3, h3{
            font-size: 1.1rem;
        }

        .footer{
            width: 100%;
        }

        .carousel{
            display: none;
        }

        .footer p {
            font-size: x-small;
            margin-top: 0;
            margin-bottom: 0;
        }


        
        
        .encontreBanner {
            display: none;
        }
        .encontreTitulo {
            width: 80%;
            font-size: 1.5rem;
        }
        .encontreMobile {
            display: none;
        }

        .blogMobile {
            display: none;
        }

        #desapego {
            height:540vh;
            background-color: #cccccc;
        }

        #desapegar {
            height: 46vh;
        }

        .texto-card-desapego h2 {
            font-size: 1.7em;
        }

        .texto-card-desapego h3 {
            font-size: 1.5em;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 337vh;
        }

        .img-ofertaDesapego {
            height: 452px;
        }
        .historico-caronas{
            display: none;
        }
    }


    /* responsivo Encontre */
    @media (max-width: 375px) {
        
        .section{
            height: 20vh;
        }

        .h3, h3{
            font-size: 1.1rem;
        }

        .texto-index-2{
            font-size: xx-small; 
        }

        .footer p {
            font-size: x-small;
            margin-top: 0;
            margin-bottom: 0;
        }


        #desapego {
            height: 772vh;
        }
        .titulodeSecaoDesapego{
            height: 210vh;
            margin-top: 255px;
        }

        #desapegar {
            height: 57vh;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 318vh;
        }

        .img-ofertaDesapego {
            height: 452px;
        }
        .historico-caronas{
            display: none;
        }

        #logo{
            height: 17vh;
            width: 58vw;
            margin-right: 0px;
            margin-left: 0px;
        }

        #upHeader{
            width: 100%;
        }
        .divNav{
            border-bottom: 4px solid #245371;
            /* box-shadow: 0px 1px 2px black; */
            /* position: fixed; */
            /* z-index: 99; */
            width: 100vw;
            height: auto;
        }

        .cabecario ul{
            display: flex;
            justify-content: space-between;
            width: 71vw;
            height: 73vh;
            align-items: baseline;
        }

    .cabecario{
        width: 0vw;
        display: flex;
        height: 71vh;
        /* z-index: 99; */
        /* position: fixed; */
        justify-content: space-between;
        padding: 10px;
        margin-top: 26px;
    }

    nav ul li a{
        color: #245b7e;
        font-size: 1.3rem;
    }

    /* responsivo Desapego */
    @media (max-width: 320px) {


        .h3, h3{
            font-size: 1.1rem;
        }

        .texto-index-2{
            font-size: xx-small;
        }

        .footer p {
            font-size: x-small;
            margin-top: 0;
            margin-bottom: 0;
        }
        

        #desapego {
            height: 182vh;
        }

        #desapegar {
            height: 76vh;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 355vh;
        }
        .historico-caronas{
            display: none;
        }

        #botaoHeader{
            margin-left: 0px;
    /* padding: 28px; */
         width: 100%;

        }

        #botaoHeader1{
            background-color: #ff8f04;
        border: #ff8f04;
        width: 39vw;
        height: 8vh;
        margin-bottom: 18px;

        }

        #botaoHeader2{
            background-color: #376fcd;
            border: #376fcd;
            width: 39vw;
            height: 8vh;

        }

        .divNav{
            border-bottom: 4px solid #245371;
            /* box-shadow: 0px 1px 2px black; */
            /* position: fixed; */
            /* z-index: 99; */
            width: 100vw;
            height: auto;
        }

        .cabecario ul{
            display: flex;
            justify-content: space-between;
            width: 71vw;
            height: 73vh;
            align-items: baseline;
        }

    .cabecario{
        width: 0vw;
        display: flex;
        height: 74vh;
        /* z-index: 99; */
        /* position: fixed; */
        justify-content: space-between;
        padding: 10px;
        margin-top: 26px;
    }

    nav ul li a{
        color: #245b7e;
        font-size: 1.3rem;
    }

    }
  }
}