* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


/* css para header */
body{
    font-family: "aloha";
}

@font-face{
    font-family: "roboto-light";
    src: url(/public/font/Roboto-Light.ttf);
}

@font-face{
    font-family: "aloha";
    src: url(\public\font\surf-style-regular.ttf);
}

@font-face{
    font-family: "mohave";
    src: url(/public/font/Mohave-Bold.otf);
}

@font-face{
    font-family: "kinley";
    src: url(/public/font/Kinley\ Free\ Version.ttf);
}

@font-face{
    font-family: "givena";
    src: url(/public/font/Giveny.otf);
}

@font-face{
    font-family: "quincy";
    src: url(/public/font/FontsFree-Net-quincy-cf-bold.ttf);
}

@font-face{
    font-family: "proudly";
    src: url(/public/font/FontsFree-Net-Proudly.ttf);
}

@font-face{
    font-family: "frintake";
    src: url(/public/font/FontsFree-Net-Frintake.ttf);
}

@font-face{
    font-family: "evolve";
    src: url(/public/font/MADE\ Evolve\ Sans\ Light\ \(PERSONAL\ USE\).otf);
}

@font-face{
    font-family: "evolve-bold";
    src: url(/public/font/MADE\ Evolve\ Sans\ Bold\ \(PERSONAL\ USE\.otf);
}

.contato{
    height: 7vh;
    background-color: #cecece;
    align-items: center;
}

.cabecario{
    width: 100%;
    display: flex;
    align-items: center;
    height: 104px;
    z-index: 99;
    position:fixed;
    margin-top: 0px;
    flex-direction:column;
}

nav ul li a{
    color: #fff;
    font-size: 0.8rem;
    /* font-weight: bold; */
    /* font-family: "roboto-light"; */
    /* text-transform: uppercase; */
    /* text-shadow: #000 1px 0px 3px; */
}


#logo{
    height: 69px;
    width: 236px;
    /* margin-left: 61px; */
    margin-bottom: 10px;
    margin-right: -15px;
    margin-left: 530px;
    margin-top: 10px;
}

.headerNavbar{
    display: flex;
    /* background-color: #000fc7; */
    width: 100%;
    border-radius-top: 10px;
    box-shadow: black;
    -webkit-box-shadow: 20px 3px 17px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: -19px 35px -2px rgba(32, 53, -17, 0.77);
    height: 33px;
    background-image: linear-gradient(to left, #3e7bd9 , #011a77 );
 }

 #upHeader{
    width: 100%;
    /* background-image: linear-gradient(to left, #f0f0f37a , #ffffff); */
    height: 209px;
    align-items: center;
    display: flex;
    background-image: url("../imagens/img-home/banner17.jpg");
    background-position-y: -129px;
    background-position-x: -576px;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
 }

 .gaveta-icones{
    display: flex;
    width: 111px;
    height: auto;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
    /* justify-content: space-evenly; */
    margin-left: 611px;
}

.icone{
    width: 2vw;
    height: 3vh;
}

   

.redes-sociais{
    width: 20px;
    height: 20px;
}

/* css para home - index */

#carousel-1{
    background-image: url("../imagens/img-home/banner21.jpg");
    background-position-y: -151px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 102px;
}

/* .carousel-gaveta{
    background-image: linear-gradient(180deg, #6a849e94,  #52505000);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;} */

#carousel-2{
    background-image: url("../imagens/img-home/1353.jpg");
    background-position-y: -2px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 108px;
}

#carousel-3{
    background-image: url("../imagens/img-home/banner23.jpg");
    background-position-y: -285px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 108px;
}

.efeitoBannerHome{
    /* background-color:blue; */
    height: 100%;
    background-image: linear-gradient(to top, #011a77cf , #002bc700);
}

.cards-home{
    display: flex;
    height: 240px;


}

#texto-index{
     
color: rgb(31, 29, 29);
     
height: 177px;
     
width: 100%;
     
/* margin-left: 257px; */
     
/* text-align: center; */
     
/* text-shadow: 0 0 0.2em; */
     
display: flex;
     
flex-direction: column;
     
justify-content: center;
     
/* font-size: 31px; */
     
/* padding: 50px; */
     
margin-top: 124px;
     
margin-bottom: 8px;
     
margin-left: 111px;
     
/* align-items: flex-start; */
     
/* margin-right: 506px; */
     
text-shadow: #000000 -2px 0px 20px;
     
/* text-align: center; */
     
/* align-items: center; */
}

.texto-index-2{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #929191;
    justify-content: baseline;
    justify-content: center;
}
.botaoHome{
    flex-direction: row;
    /* background-color: #235879; */
    width: 468px;
    height: 65px;
    color: #fff;
    /* font-size: 0.8rem; */
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 161px;
    margin-left: 111px;
}

.botao-um{
    width: 137px;
    font-size: 1.3rem;
    border-radius: 3.3rem;
    border: solid 1px #84478500;
    color: #565656d1;
    background-color: #fbfeff;
    height: 53px;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-right: 30px;
    
    /* font-family: evolve; */
    font-weight: 600;
    }

.botao-dois{
    background-color: #ffffff00;
    color: #ffffff;
    border: solid 2px #ffffff;
    width: 137px;
    font-size: 1.3rem;
    border-radius: 17.3rem;
    height: 53px;
    font-weight: 600;
}

.botao-tres{
    background-color: #ebecec0a;
    color: #0c0c0c;
    border: solid 2px #1b1a1a;
    width: 6.5vw;
    font-size: 1.2rem;
    border-radius: 6.1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}


#texto-index h2{
    font-weight: bold;
    font-size: 4.5rem;
    color: #ffffff;
    
}
#texto-index p{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
    width: 680px;
    margin-left: 52px;
    text-align: center;
    /* text-shadow: #000000 -2px 0px 20px; */
}


/* #efeito-img #logo{
    opacity: none;

} */

/* #efeito-img{
    background: transparent linear-gradient(180deg, #6C648B 0%, #B6A19E 100%) 0% 0% no-repeat padding-box;
    opacity: 0.7;
   
} */


/* .indexH2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    /* position: absolute; */
/* } */

/* .indexP {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
} */

.desapegoHome1{
    width: 100%;
    height: 249px;
    background-image: url(../imagens/img-home/desapego5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -37px;
}

.caronasHome1{
    width: 100%;
    height: 249px;
    /* background-color: #ce9c00; */
    background-image: url(../imagens/img-home/card-caronas.jpg);
    /* text-shadow: 0 0 0.2em; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -109px;
}

.previsaoHome1{
    width: 100%;
    height: 249px;
    /* background-color: #ce9c00; */
    background-image: url(../imagens/img-home/previsao2.png);
    /* text-shadow: 0 0 0.2em; */
    background-size: cover;
    background-repeat: no-repeat;
}

/* fim css home */





/* css para pagina previsao */
.previsaoBanner {
    background-image: url("../imagens/img-home/carousel_1.png");
    background-size: cover;
    background-position: bottom;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}



/* css para pagina carona */
.caronaBanner {
    background-image: url("../imagens/img-home/carousel_2.png");
    background-size: cover;
    background-position: bottom;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caronaTextoBanner {
    color: #ffffffe1;
    font-family: Stencil Std, fantasy;
    font-size: 100px;
    filter: drop-shadow(31px 22px 12px black);
    width: 554px;
    height: 100px;
    text-align: center;
}



/* css para desapego */
.despegoBanner {
    background-image: url("../imagens/img-desapego/banner4.png");
    background-position-y: 1px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontBanner-vermelho {
    background: rgba(94, 0, 19, 0.5) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(112, 112, 112, 1);
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textoBanner {
    color: #ffffffe1;
    font-family: Stencil Std, fantasy;
    font-size: 100px;
    filter: drop-shadow(31px 22px 12px black);
    width: 554px;
    height: 119px;
    text-align: center;
}

.imagem-desapego {
    width: 25vw;
    height: 40vh;
    border: 4px solid #1f4ea5;
    border-radius: 30px;
}

#desapego {
    height: 78vh;
    display: flex;
}

#desapegar {
    height: 33vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto-card-desapego {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.img-oferta-individual {
    width: 50vw;
}

.link-desapego {
    text-decoration: none;
}

.imagem-desapegar {
    border: 4px solid #1f4ea5;
    border-radius: 30px;
}




/* css oferta desapego */

.img-ofertaDesapego {
    width: 537px;
    height: 181px;
    margin-top: 34px;
    justify-content: center;
    border-top-color: none;
}

.img-ofertaDesapego:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-top-color: black;
}

.img-ofertaDesapegoHistorico {
    width: 537px;
    height: 230px;
    margin-top: 34px;
    justify-content: center;
}


/* css para pagina encontre */
.frontBanner-azul {
    background: transparent linear-gradient(180deg, #1E4256D4 0%, #032C808C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encontreBanner {
    background-image: url("../imagens/img-encontre/surfboard.jpg");
    background-size: cover;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position-y: -297px;
}

.encontreBotao {
    background-color: #1E4256;
    color: #FFF;
}



/* css para pagina blog */
.blogBanner {
    background-image: url("../imagens/img-blog/surfers.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardBlogGeral {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
}

.cardBlog {
    border: 2px solid #1f4ea5;
    border-radius: 30px;
}

.textoCardBlog {
    text-decoration-style: none;
    color: #1f4ea5;
}



/* css para pagina noticias */
.noticiasBanner {
    background-image: url("../imagens/img-noticias/pranchaPaisagem.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* css para pagina previsao */
#previsaoBanner {
    background-image: url("../imagens/img-previsao/previgraca.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

.botaoAzul {
    background: rgba(7, 237, 243, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(195, 221, 255, 1);
    opacity: 1;
    font-weight: bold;
    color: #FFF;
    font-style: italic;
}

/* css footer */

.footer{
    width: 100%;
    height: 68px;
    /* background-color: #d1a015; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 1rem;
    background-image: linear-gradient(to left, #3c78d6 , #011b78);
}

.footer p{
    color: #f3eeee;
    margin-top: 14px;
    /* font-weight: bold; */
    
}

/* fim css footer */


@media (max-width: 1200px) {
    #encontreBanner {
        background-image: url("../imagens/img-encontre/surfboard.jpg") center center;
        height: 20%;
        /* justify-content: center;
        align-items: center;
        display: flex; */
    }
    .encontreTextoBanner {
        color: #ffffffe1;
        font-family: Stencil Std, fantasy;
        font-size: 5rem;
        filter: drop-shadow(31px 22px 12px black);
        width: 321px;
        height: 298px;
        text-align: center;
        display: flex;
    }
    .encontreTitulo {
        width: 90%;
        font-size: 2rem;
    }
    .encontreMobile {
        display: none;
    }

    .cards-desapego {
        flex-wrap: wrap;
        display: flex;
    }
    #desapego {
        height: 45vh;
    }
    .imagem-desapego {
        height: 25vh;
        width: 100%;
    }

    .desapego-oferta {
        height: 91vh;
    }

    .ofertaIndivid {
        flex-direction: wrap;
    }



    @media (max-width: 768px) {
        #headerBuscaMobile{
            display: none;
        }
        /* .headerLogoMobile{
            display: flex;
            justify-items: center;
        } */
        .headerLoginMobile{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

      

        .encontreBanner {
            display: none;
            /* background-image: none;
            background-color: #1E4256;
            height: 2%; */
        }
        /* .encontreTextoBanner {
            color: #1E4256;
            font-size: 0%;
            filter: none;
            width: 0%;
            height: 0%;
        } */
        .encontreTitulo {
            width: 65%;
            font-size: 1.5rem;
        }
        .encontreMobile {
            display: none;
        }

        .caronaBanner{
            display: none;
        }


        .blogMobile {
            display: none;
        }
        .blogBanner{
            display: none;
        }


        .noticiasBanner{
            display: none;
        }


        .despegoBanner {
            display: none;
        }
        .cards-desapego {
            flex-direction: column;
            display: flex;
        }
        #desapego {
            height: 120vh;
        }
        #desapegar {
            height: 47vh;
        }
        .imagem-desapego {
            width: 100%;
        }
        .texto-card-desapego h2 {
            font-size: 2em;
        }
        .texto-card-desapego h3 {
            font-size: 1.8em;
        }

        .desapego-oferta {
            height: 110vh;
        }
          .historico-caronas{
            display: none;
        }

    }


    @media (max-width: 480px) {
        .encontreBanner {
            display: none;
        }
        .encontreTitulo {
            width: 80%;
            font-size: 1.5rem;
        }
        .encontreMobile {
            display: none;
        }

        .blogMobile {
            display: none;
        }

        #desapego {
            height: 146vh;
        }

        #desapegar {
            height: 46vh;
        }

        .texto-card-desapego h2 {
            font-size: 1.7em;
        }

        .texto-card-desapego h3 {
            font-size: 1.5em;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 337vh;
        }

        .img-ofertaDesapego {
            height: 452px;
        }
        .historico-caronas{
            display: none;
        }
    }


    /* responsivo Encontre */
    @media (max-width: 375px) {
        #desapego {
            height: 144vh;
        }

        #desapegar {
            height: 57vh;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 318vh;
        }

        .img-ofertaDesapego {
            height: 452px;
        }
        .historico-caronas{
            display: none;
        }
    }


    /* responsivo Desapego */
    @media (max-width: 320px) {
        #desapego {
            height: 182vh;
        }

        #desapegar {
            height: 76vh;
        }

        .cards-desapego {
            flex-direction: column;
            display: flex;
        }

        .desapego-oferta {
            height: 355vh;
        }
        .historico-caronas{
            display: none;
        }
    }